nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #04AA6D;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

nav .right-nav {
    display: flex;
    align-items: center;
}

nav .right-nav li {
    margin-left: 30px;
}

nav .cta-btn {
    background-color: #04AA6D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
}

nav .cta-btn:hover {
    background-color: #fff;
    color: #04AA6D;
    border: 1px solid #04AA6D;
}
